@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a {
  color: black !important;
}

.brand-logo {
  font-family: 'Grand Hotel', cursive;
  margin-left: 10px;
}

body {
  background: whitesmoke;
}

.mycard {
  margin-top: 30px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.auth-card h2 {
  font-family: 'Grand Hotel', cursive;
}

.auth-card h4 {
  font-size: 14px;
}

.auth-card1 {
  padding: 17px;
  padding-top: 10px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.auth-card1 h5 {
  font-size: 17px;
}

h4 a {
  color: #2b5884 !important;
}

h5 a {
  color: #0095f6 !important;
}

.btn-block {
  min-width: 100%;
  font-size: 15px;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: none;
}

.input-field input:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

/* .home{
  
} */

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
  font-weight: bold;
}

.home-card h5 {
  margin: 10px;
}

.card-image {
  margin: 10px;
}

::placeholder {
  color: #696969;
  opacity: 1;
}

.logout {
  color: #fff !important;
  text-transform: none;
}

.profile {
  display: flex;
  justify-content: space-around;
  margin: 18px 0px;
  border-bottom: 1px solid gray;
}

.profile-image img {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  /* display: none; */
  margin-left: -6px;
  margin-top: -1px;
}

.profile-image button {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  border: none;
  background: #ccc;
}

/* .profile-image button:active {
  display: none;
} */

.user-stats {
  display: flex;
  justify-content: space-between;
  width: 108%;
}

.create-post {
  margin: 30px auto;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}
