@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

a {
  color: black !important;
}

.brand-logo {
  font-family: "Grand Hotel", cursive;
  margin-left: 10px;
}

body{
  background: whitesmoke;
}

.mycard {
  margin-top: 30px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.auth-card h2 {
  font-family: "Grand Hotel", cursive;
}

.auth-card h4 {
  font-size: 14px;
}

.auth-card1 {
  padding: 17px;
  padding-top: 10px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.auth-card1 h5 {
  font-size: 17px;
}

h4 a {
  color: #2b5884 !important; 
}

h5 a {
  color: #0095f6 !important; 
}

.btn-block {
  min-width: 100%;
  font-size: 15px;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: none;
}

.input-field input:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}